/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_mycollection";
    src: url("./flaticon_mycollection.woff2?f5a0448568ca8dd20267ea0326b478f7") format("woff2"),
url("./flaticon_mycollection.woff?f5a0448568ca8dd20267ea0326b478f7") format("woff"),
url("./flaticon_mycollection.eot?f5a0448568ca8dd20267ea0326b478f7#iefix") format("embedded-opentype"),
url("./flaticon_mycollection.ttf?f5a0448568ca8dd20267ea0326b478f7") format("truetype"),
url("./flaticon_mycollection.svg?f5a0448568ca8dd20267ea0326b478f7#flaticon_mycollection") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_mycollection !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-car:before {
    content: "\f101";
}
.flaticon-van:before {
    content: "\f102";
}
.flaticon-suv-car:before {
    content: "\f103";
}
.flaticon-off-road:before {
    content: "\f104";
}
.flaticon-jeep:before {
    content: "\f105";
}
.flaticon-user:before {
    content: "\f106";
}
.flaticon-internet:before {
    content: "\f107";
}
.flaticon-phone:before {
    content: "\f108";
}
.flaticon-info:before {
    content: "\f109";
}
.flaticon-hot-sale:before {
    content: "\f10a";
}
.flaticon-search:before {
    content: "\f10b";
}
.flaticon-aim:before {
    content: "\f10c";
}
.flaticon-aim-1:before {
    content: "\f10d";
}
.flaticon-map:before {
    content: "\f10e";
}
.flaticon-pin:before {
    content: "\f10f";
}
.flaticon-check-mark:before {
    content: "\f110";
}
.flaticon-speedometer:before {
    content: "\f111";
}
.flaticon-coin:before {
    content: "\f112";
}
.flaticon-right-up:before {
    content: "\f113";
}
.flaticon-car-rental:before {
    content: "\f114";
}
.flaticon-booking:before {
    content: "\f115";
}
.flaticon-discount:before {
    content: "\f116";
}
.flaticon-rental:before {
    content: "\f117";
}
.flaticon-down:before {
    content: "\f118";
}

